<div class="topbarContainer">
    <div class="topbarLeft">
        <span class="logo"><img src="../../../assets/logo.jpg" class="logoimage"></span>
    </div>
    <div class="topbarRight">
        <div class="topbarLinks">
            <span class="topbarLink" >Register</span>
            <span class="topbarLink">Sign In</span>
        </div>
        <div class="topbarIcons">
            <div class="topbarIconItem">
                <i class="material-icons">phone</i>
                <span class="topbarIconBadge">0</span>
            </div>
        </div>
    </div>
</div>
<div class='donation'>
    <div class="donationWrapper">
      <div class="donationLeft">
          <h3 class="donationLogo">SAVE FOOD</h3>
          <span class="donationDesc">
          </span>
      </div>
      <div class="donationRight">
          <div class="donationBox">
              <input placeholder='enter your name' class="donationInput" />
              <input placeholder='enter your mobile number' class="donationInput" />
              <input placeholder='enter the city' class="donationInput" />
              <input placeholder='enter the area' class="donationInput" />
              <input placeholder='enter pickup address' class="donationInput" />
              <input placeholder='enter food type' class="donationInput" />
              <input placeholder='enter food quantity' class="donationInput" />
              <button class="donationButton">Donate</button>
          </div>
      </div>
    </div>
  </div>