<div class='post'>
    <div class="postWrapper">
      <div class="postCenter">
        <p class="postText">Name         : {{donorName}}</p>
        <p class="postText">Mobile Number : {{donorMobileNumber}}</p>
        <p class="postText">Pickup Address: {{pickupAddress}}</p>
        <p class="postText">{{status}}</p>
        <p class="postText">{{city}}</p>
        <p class="postText">{{area}}</p>
        <p class="postText">{{foodType}}</p>
        <p class="postText">{{foodQuantity}}</p>
        <p class="postText">{{recipientMobileNumber}}</p>
        <button style="color: white; background-color: green; border-radius: 5px;">accept</button>
      </div>
    </div>
  </div>