<div class='post'>
    <div class="postWrapper">
      <div class="postCenter">
        <strong class="postText">{{donorName}}</strong>
        <strong class="postText">{{donorMobileNumber}}</strong>
        <strong class="postText">{{pickupAddress}}</strong>
        <strong class="postText">{{status}}</strong>
        <strong class="postText">{{city}}</strong>
        <strong class="postText">{{area}}</strong>
        <strong class="postText">{{foodType}}</strong>
        <strong class="postText">{{foodQuantity}}</strong>
        <strong class="postText">{{recipientMobileNumber}}</strong>
      </div>
    </div>
  </div>