<div class="topbarContainer">
    <div class="topbarLeft">
        <span class="logo">SmartBuy</span>
    </div>
    <div class="topbarCentre">
            <input placeholder="Search for Products, Brands and More" class="searchInput" />
            <button (click)="search()">search</button>
    </div>
    <div class="topbarRight">
        <div class="topbarLinks">
            <span class="topbarLink">Orders</span>
            <span class="topbarLink">Sign In</span>
        </div>
        <div class="topbarIcons">
            <div class="topbarIconItem">
                <i class="material-icons">shopping_cart</i>
                <span class="topbarIconBadge">0</span>
            </div>
            <div class="topbarIconItem">
                <i class="material-icons">pin_drop</i>
                <span class="topbarIconBadge">IN</span>
            </div>
        </div>
    </div>
</div>