<div class="topbarContainer">
    <div class="topbarLeft">
        <span class="logo"><img src="../../../assets/logo.jpg" class="logoimage"></span>
    </div>
    <div class="topbarRight">
        <div class="topbarLinks">
            <span class="topbarLink"><a routerLink="/register" routerLinkActive="active" style="text-decoration: none; color: green;">Register</a></span>
            <span class="topbarLink"><a routerLink="/donation-page" routerLinkActive="active" style="text-decoration: none; color: green;">Donate</a></span>
        </div>
        <div class="topbarIcons">
            <div class="topbarIconItem">
                <i class="material-icons">phone</i>
                <span class="topbarIconBadge">0</span>
            </div>
        </div>
    </div>
</div>
<div class='login'>
    <div class="loginWrapper">
      <div class="loginLeft">
          <h3 class="loginLogo">Food4SocialChange</h3>
          <span class="loginDesc">
          </span>
      </div>
      <div class="loginRight">
          <div class="loginBox">
              <input placeholder='Email' class="loginInput" />
              <input type="password" placeholder='Password' class="loginInput" />
              <button class="loginButton">login</button>
              <span class="loginForgot">Forgot Password?</span>
              <button class='loginRgisterButton'>
                  Create a new Account
              </button>
          </div>
      </div>
    </div>
</div>
