<div class="topbarContainer">
    <div class="topbarLeft">
        <span class="logo"><a routerLink="/"><img src="../../../assets/logo.jpg" class="logoimage"></a></span>
    </div>
    <div class="topbarRight">
        <div class="topbarIcons">
            <div class="topbarIconItem">
               <button style="background-color: #F5EDDC; border: none; color: green;" (click)="logout()">Logout</button>
            </div>
            <div class="topbarIconItem">
                <p style="color: green;">Contact us : +91 7032994189</p>
            </div>
        </div>
    </div>
</div>
<donations-list></donations-list>
