    <div class="topbarContainer">
        <div class="topbarLeft">
            <span class="logo"><img src="../../../assets/logo.jpg" class="logoimage"></span>
        </div>
        <div class="topbarRight">
            <div class="topbarLinks">
                <span class="topbarLink" ><a routerLink="/register" routerLinkActive="active" style="text-decoration: none; color: green;">Register</a></span>
                <span class="topbarLink"><a routerLink="/login" routerLinkActive="active" style="text-decoration: none; color: green;">Sign In</a></span>
                <span class="topbarLink"><a routerLink="/donation-page" routerLinkActive="active" style="text-decoration: none; color: green;">Donate</a></span>
            </div>
            <div class="topbarIcons">
                <div class="topbarIconItem">
                    <p style="color: green;">Contact us : +91 7032994189</p>
                </div>
            </div> 
        </div>
    </div>
    <quote></quote>
    <br>
    <div style="margin: 10px; padding: 10px;">
        <h1 style="color: green; font-size: 50px;">Our Mission</h1>
        <br>
        <div style="display: flex;">
            <div>
                <p style="font-size: large; text-align: start; text-align: end; text-align: left; text-align: right; text-align: center; text-align: justify; line-height: 1.5; ">Food is basic requirement of life. Without food human beings cannot survive. So the wastage of food has to be reduced.
                    we observe many needy people in the society are suffering lack of food.
                    Since many donors and  NGO's are providing food to needy people they are unable to reach many places where needy people are present.
                    We designed a website which works similar to existing NGO's and in additional we provide a feature where the volunteers can add the locations of needy people in his locality to ensure that maximum people get benefitted. </p>
            </div>
            <div>
                <img style="height: 300px; width:600px; padding-left: 100px; padding-right: 60px;"  src="https://en-media.thebetterindia.com/uploads/2016/02/feeding-india.jpg">
            </div>
        </div>
        <br>
        <div style="display: flex;">
            <div>
                <img style="height: 300px; width:600px; padding-left: 5s0px; padding-right: 100px;" src="https://www.oneindia.com/ph-big/2020/04/homeless-poor-people-receive-foods-other-donation-across-india_15879612401.jpg">
            </div>
            <div>
                <p style="font-size: large; text-align: start; text-align: end; text-align: left; text-align: right; text-align: center; text-align: justify; line-height: 1.5; ">My app doesn't need any third party organisation to handle it. The website itself shows the locations of needy spots in the queue manner i.e. it direct the volunteers by providing where to donate the food, it doesn't show the locations where the volunteers recently distributed the food until all the locations are benefitted. Once all the locations are benefitted the cycle starts from beginning.</p>
            </div>
        </div>
    </div>
    <br>
    <div style="margin: 10px; padding: 10px; padding-right: 600px;">
        <h1 style="color: green; font-size: 30px;">How to use</h1>
        <br>
        <p style="font-size: large; text-align: start; text-align: end; text-align: left; text-align: right; text-align: center; text-align: justify; line-height: 1.5; ">Working of this website is very simple and seamless, that is, our homepage is simple and easy to use.</p>
        <h1>There are two types of users of this website:</h1>
        <br>
        <h2>Donors</h2>
        <p style="font-size: large; text-align: start; text-align: end; text-align: left; text-align: right; text-align: center; text-align: justify; line-height: 1.5;">Donors must click on donate button on home page and enter the details of donation that is quantity, location and contact of theirs. </p>
        <p style="font-size: large; text-align: start; text-align: end; text-align: left; text-align: right; text-align: center; text-align: justify; line-height: 1.5;">If donor require volunteer to distribute food he can contact volunteer through the website.</p>

        <h2>volunteers</h2>
        <p style="font-size: large; text-align: start; text-align: end; text-align: left; text-align: right; text-align: center; text-align: justify; line-height: 1.5;">Volunteers will collect food from the donor and donates the food to the particular place and he will update status in website that this particular place was donated with food.New volunteers who are interested to help can register </p>
        <p style="font-size: large; text-align: start; text-align: end; text-align: left; text-align: right; text-align: center; text-align: justify; line-height: 1.5;">After registering, volunteer will have to sign in to volunteer and see the available locations to donate or even add the locations which they feel food insecurity is there.</p>
        <p style="font-size: large; text-align: start; text-align: end; text-align: left; text-align: right; text-align: center; text-align: justify; line-height: 1.5;">Volunteers can see locations according to the algorithm which displays according to oldest received location. According to their availability they can accept the donation request.</p>
    </div>
    <br>
    <div style="display: flex; justify-content: center;">
        <h1 style="color: green;">Join our family lets begin our journey</h1>
    </div>
    <br>
    <br>
