    <div class="topbarContainer">
        <div class="topbarLeft">
            <span class="logo"><img src="../../../assets/logo.jpg" class="logoimage"></span>
        </div>
        <div class="topbarRight">
            <div class="topbarLinks">
                <span class="topbarLink" ><a routerLink="/register" routerLinkActive="active" style="text-decoration: none; color: green;">Register</a></span>
                <span class="topbarLink"><a routerLink="/login" routerLinkActive="active" style="text-decoration: none; color: green;">Sign In</a></span>
                <span class="topbarLink"><a routerLink="/donation-page" routerLinkActive="active" style="text-decoration: none; color: green;">Donate</a></span>
            </div>
            <div class="topbarIcons">
                <div class="topbarIconItem">
                    <i class="material-icons">phone</i>
                    <span class="topbarIconBadge">0</span>
                </div>
            </div>
        </div>
    </div>
    <quote></quote>
