    <div class="topbarContainer">
        <div class="topbarLeft">
            <span class="logo"><img src="../../../assets/logo.jpg" class="logoimage"></span>
        </div>
        <div class="topbarRight">
            <div class="topbarLinks">
                <span class="topbarLink" >Register</span>
                <span class="topbarLink">Sign In</span>
                <span class="topbarLink">Donate</span>
            </div>
            <div class="topbarIcons">
                <div class="topbarIconItem">
                    <i class="material-icons">phone</i>
                    <span class="topbarIconBadge">0</span>
                </div>
            </div>
        </div>
    </div>
    <quote></quote>
