<div class="topbarContainer">
    <div class="topbarLeft">
        <span class="logo"><img src="../../../assets/logo.jpg" class="logoimage"></span>
    </div>
    <div class="topbarRight">
        <div class="topbarLinks">
            <span class="topbarLink"><a routerLink="/login" routerLinkActive="active">Sign In</a></span>
            <span class="topbarLink"><a routerLink="/donation-page" routerLinkActive="active">Donate</a></span>
        </div>
        <div class="topbarIcons">
            <div class="topbarIconItem">
                <i class="material-icons">phone</i>
                <span class="topbarIconBadge">0</span>
            </div>
        </div>
    </div>
</div>
<div class='register'>
    <div class="registerWrapper">
      <div class="registerLeft">
          <h3 class="registerLogo">NewSocial</h3>
          <span class="registerDesc">
              Connect with friends and the world around you on NewSocial
          </span>
      </div>
      <div class="registerRight">
          <div class="registerBox">
              <input placeholder='Email' class="registerInput" />
              <input placeholder='Password' class="registerInput" />
              <button class="registerButton">Register</button>
              <span class="registerForgot">Forgot Password?</span>
              <button class='registerRgisterButton'>
                  Create a new Account
              </button>
          </div>
      </div>
    </div>
</div>
